sagas/order/state-machines/create-order.asl.json
{
    "Comment": "Order Saga",
    "StartAt": "Create Fraud Case",
    "States": {
        "Create Fraud Case": {
            "Type": "Task",
            "Resource": "arn:aws:states:::apigateway:invoke",
            "Parameters": {
                "ApiEndpoint":"${CreateFraudCaseApi}",
                "Method":"POST",
                "Stage":"Prod",
                "Path":"${DefaultPath}create-fraud-case",
                "RequestBody.$":"$.amount",
                "AuthType":"NO_AUTH"
            },
            "ResultPath": "$.fraudResult",
            "ResultSelector": {
                "responseBody.$": "$.ResponseBody",
                "statusCode.$": "$.StatusCode"
            },
            "Catch": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "Next": "Cancel Order",
                  "ResultPath": "$.createFraudCaseError"
                }
              ],
            "Next": "Capture Payment"
        },
        "Capture Payment": {
            "Type": "Task",
            "Resource": "arn:aws:states:::apigateway:invoke",
            "Parameters": {
                "ApiEndpoint":"${CapturePaymentApi}",
                "Method":"POST",
                "Stage":"Prod",
                "Path":"${DefaultPath}capture-payment",
                "RequestBody.$":"$.amount",
                "AuthType":"NO_AUTH"
            },
            "ResultPath": "$.paymentResult",
            "ResultSelector": {
                "responseBody.$": "$.ResponseBody",
                "statusCode.$": "$.StatusCode"
            },
            "Catch": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "Next": "Cancel Fraud Case",
                  "ResultPath": "$.capturePaymentError"
                }
              ],
            "Next": "Reserve Stock"
        },
        "Cancel Fraud Case": {
            "Type": "Task",
            "Resource": "arn:aws:states:::apigateway:invoke",
            "Parameters": {
                "ApiEndpoint":"${CancelFraudCaseApi}",
                "Method":"POST",
                "Stage":"Prod",
                "Path":"${DefaultPath}cancel-fraud-case",
                "RequestBody.$":"$.fraudResult.responseBody.fraudCaseId",
                "AuthType":"NO_AUTH"
            },
            "ResultPath": "$.fraudResult",
            "ResultSelector": {
                "responseBody.$": "$.ResponseBody",
                "statusCode.$": "$.StatusCode"
            },
            "Next": "Cancel Order"
        },
          "Cancel Order": {
            "Type": "Pass",
            "End": true
          },
        "Reserve Stock": {
            "Type": "Task",
            "Resource": "arn:aws:states:::apigateway:invoke",
            "Parameters": {
                "ApiEndpoint":"${ReserveStockApi}",
                "Method":"POST",
                "Stage":"Prod",
                "Path":"${DefaultPath}reserve-stock",
                "RequestBody.$":"$.sku",
                "AuthType":"NO_AUTH"
            },
            "ResultPath": "$.stockResult",
            "ResultSelector": {
                "responseBody.$": "$.ResponseBody",
                "statusCode.$": "$.StatusCode"
            },
            "Catch": [
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "Next": "Refund Payment",
                  "ResultPath": "$.reserveStockError"
                }
              ],
            "Next": "Approve Order"
        },
          "Approve Order": {
            "Type": "Pass",
            "End": true
          },
          "Refund Payment": {
            "Type": "Task",
            "Resource": "arn:aws:states:::apigateway:invoke",
            "Parameters": {
                "ApiEndpoint":"${RefundPaymentApi}",
                "Method":"POST",
                "Stage":"Prod",
                "Path":"${DefaultPath}refund-payment",
                "RequestBody.$":"$.paymentResult.responseBody.transactionId",
                "AuthType":"NO_AUTH"
            },
            "ResultPath": "$.paymentResult",
            "ResultSelector": {
                "responseBody.$": "$.ResponseBody",
                "statusCode.$": "$.StatusCode"
            },
            "Next": "Cancel Fraud Case"
          }
    }
}